{% if tinc_protocols is not defined or 'ipv6' in tinc_protocols %}
Address = {{ ansible_default_ipv6.address }} {{ tinc_port | default('655') }}
{% endif %}
{% if tinc_protocols is defined and 'ipv4' in tinc_protocols %}
Address = {{ ansible_ec2_public_ipv4 }} {{ tinc_port | default('655') }}
{% endif %}
