Name = {{ node_name }}
AddressFamily = any
Interface = tun0
DecrementTTL = yes
MaxTimeout = {{ tinc_max_timeout | default('900') }}
PingInterval = {{ tinc_ping_interval | default('60') }}
PingTimeout = {{ tinc_ping_timeout | default('5') }}
{% if graphviz %}
GraphDumpFile = |dot -Tsvg -o /usr/share/nginx/html/index.svg
{% endif %}
