---
s3_bucket: {{ s3_bucket }}
{% if s3_aws_profile is defined %}
s3_aws_profile: {{ s3_aws_profile }}
{% endif %}
s3_region: {{ s3_region }}
{% if route53_aws_profile is defined %}
route53_aws_profile: {{ route53_aws_profile }}
{% endif %}
node_name: {{ node_name }}
{% if tinc_protocols is defined %}
tinc_protocols: {{ tinc_protocols }}
{% endif %}
{% if tinc_max_timeout is defined %}
tinc_max_timeout: {{ tinc_max_timeout }}
{% endif %}
{% if tinc_ping_interval is defined %}
tinc_ping_interval: {{ tinc_ping_interval }}
{% endif %}
{% if tinc_ping_timeout is defined %}
tinc_ping_timeout: {{ tinc_ping_timeout }}
{% endif %}
{% if graphviz %}
graphviz: {{ graphviz }}
{% endif %}
{% if graphviz_file %}
graphviz_file: "{{ graphviz_file }}"
{% endif %}
