#!/bin/bash -xe
export HOME=/root
cat > /etc/profile.d/aws-region.sh << "EOF"
#!/bin/bash

if [ -r /etc/yum/vars/awsregion ]; then
    region=$(cat /etc/yum/vars/awsregion)
else
    region=$(ec2-metadata -z | egrep -o '[a-z]{2}(-gov)?-[a-z]+-[0-9]')
fi

if [ -n "$region" ]; then
    export AWS_DEFAULT_REGION="$region"
fi
EOF
. /etc/profile.d/aws-region.sh

{% if (region_data.remote_aws_profile | default(false)) %}
mkdir /root/.aws
cat > /root/.aws/config << "EOF"
[profile {{ region_data.remote_aws_profile }}]
region = us-east-1
EOF
cat > /root/.aws/credentials << "EOF"
[{{ region_data.remote_aws_profile }}]
aws_access_key_id = {{ region_data.access_key }}
aws_secret_access_key = {{ region_data.secret_key }}
EOF
chmod 600 /root/.aws/{config,credentials}
{% endif %}

yum update -y
yum install -y --enablerepo=epel bash-completion
yum install -y git jq
pip install -I ansible jinja2
mkdir /etc/ansible
echo -e '[vpcm_node_local]\nlocalhost ansible_connection=local' > /etc/ansible/hosts
mkdir -p /var/lib/vpcm/artifacts
aws{{ ' --region us-east-1 --profile ' + region_data.remote_aws_profile if (region_data.remote_aws_profile | default(false)) else '' }} s3 cp s3://{{ artifact_bucket }}/node_setup.tar.gz /var/lib/vpcm/artifacts/node_setup.tar.gz
cd /tmp
tar xf /var/lib/vpcm/artifacts/node_setup.tar.gz
cd node_setup
/usr/local/bin/ansible-playbook site.yml{{ ' -e s3_aws_profile={0} -e route53_aws_profile={0}'.format(region_data.remote_aws_profile) if (region_data.remote_aws_profile | default(false)) else '' }}
cd /tmp
rm -r node_setup
