{% if tinc_protocols is not defined or 'ipv6' in tinc_protocols %}
Address = {{ ipv6_address }} {{ tinc_port | default('655') }}
{% endif %}
{% if 'ipv4' in tinc_protocols %}
Address = {{ ipv4_address }} {{ tinc_port | default('655') }}
{% endif %}
{% for subnet in subnets | sort %}
Subnet = {{ subnet }}
{% endfor %}

{{ public_key }}
