Name = {{ node_name }}
AddressFamily = any
Interface = tun0
DecrementTTL = yes
MaxTimeout = {{ tinc_max_timeout | default('900') }}
PingInterval = {{ tinc_ping_interval | default('60') }}
PingTimeout = {{ tinc_ping_timeout | default('5') }}
{% if graphviz %}
GraphDumpFile = {{ graphviz_file }}
{% endif %}
{% for node in other_nodes | sort %}
ConnectTo = {{ node }}
{% endfor %}
