{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": "lambda:InvokeFunction",
            "Resource": "arn:{{ aws_partition }}:lambda:*:*:function:vpcm_manage_routes"
        }
    ]
}
